<div class="mx-auto w-fit flex flex-col gap-10 items-center">
  <input
    type="file"
    (change)="onFileSelected($event)"
    accept="image/png, image/jpeg, image/jpg"
  />

  @if (prominentColors(); as colors) { @if (colors && colors.length > 0) {
  <div class="flex gap-2 items-center">
    <p>Prominent colors:</p>
    @for (color of colors; track $index) {
    <app-color-block [color]="color" />
    }
  </div>
  <app-ingredients
    [matchedIngredients]="matchedIngredients()"
    [isLoading]="isLoading()"
  />

  @if (matchedIngredients().length > 0) {
  <button
    class="bg-blue-700 py-2 px-4 rounded-md cursor-pointer hover:bg-blue-800 text-white"
    (click)="fetchRecipes()"
    [disabled]="isLoading()"
  >
    @if (isLoading()) { Loading... } @else { Get Recipes }
  </button>
  } } } @if (error()) {
  <div class="text-red-500">{{ error() }}</div>
  }

  <app-recipe-list [recipes]="recipes()" />
</div>
